@import url('http://fonts.cdnfonts.com/css/hero-new');

* {
    font-family: "Hero New", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    height: auto;
    gap: 1rem;
}

nav {
    background-color: rgb(2, 2, 80);
}

.logo {
    color: silver;
    font-weight: bolder;
    font-size: x-large;
    margin-left: 10%;
}

.nav {
    display: flex;
    gap: 2rem;
    margin: 0 10%;
    font-size: large;
}

a {
    text-decoration: none;
    color: silver;
}

ul {
    list-style-type: none;
}

@media(max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        margin-left: 0;
    }
}